<%= simple_form_for(@answer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :question_id, collection: question_collection %>
    <%= f.input :text %><br>
  </div>

  <div class="form-actions">
    <%= f.submit :submit %>
  </div>
<% end %>
